#nav-link-1:hover, #nav-link-2:hover{
    color: green;
    font-weight: bold;
}

#nav-link-1:active, #nav-link-2:active{
    color: blue;
}

.navbar {
    background-image: linear-gradient(#FF61D2, #FE9090);
}