<div class="container">

    <!-- Search Bar with search button -->
    <!-- Even works when clicked on enter button -->
    <div class="row mt-4">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div class="input-group mb-3">
                <input type="text" #title class="form-control" placeholder="Search with movie name..."
                    aria-label="Recipient's username" aria-describedby="button-addon2" (keydown.enter)="submitFunc(title.value)">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="button-addon2"
                        (click)="submitFunc(title.value)">Search</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading spinner -->
    <div *ngIf="loadingFlag">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <!-- Selected movie card details -->
    <div *ngIf="movieDetails && movieDetailsFlag">
        <div class="row">
            <div class="col-sm-12 col-lg-10 offset-lg-1">
                <div class="card text-white bg-dark mb-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <img src="{{movieDetails.Poster}}" height="100%" width="100%" alt="Movie Poster">
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold text-primary">{{movieDetails?.Title}}</h5>
                                <ul class="list-inline">
                                    <li class="list-inline-item badge badge-light">{{movieDetails?.Released}}</li>
                                    <li class="list-inline-item badge badge-light">{{movieDetails?.Runtime}}</li>
                                    <li class="list-inline-item badge badge-light">{{movieDetails?.Genre}}</li>
                                </ul>
                                <p *ngIf="movieDetails.imdbRating && movieDetails.imdbVotes">
                                    <span class="font-weight-bold">IMBD</span> : <span
                                        class="text-danger font-weight-bold">{{movieDetails.imdbRating}}</span>
                                    <span><small>
                                            ({{movieDetails.imdbVotes}} votes)</small></span>
                                </p>
                                <p *ngIf="movieDetails.Plot" class="card-text font-italic">{{movieDetails.Plot}}</p>
                                <p class="catd-text">
                                    <span class="font-weight-bold">Languages : </span>{{movieDetails.Language}}
                                </p>
                                <p class="catd-text">
                                    <span class="font-weight-bold">Director : </span>{{movieDetails.Director}}
                                </p>
                                <p class="catd-text">
                                    <span class="font-weight-bold">Cast : </span>{{movieDetails.Actors}}
                                </p>
                                <p class="catd-text">
                                    <span class="font-weight-bold">Writer : </span>{{movieDetails.Writer}}
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-block btn-outline-danger mb-5" (click)="movieDetailsFlag = false">Go Back to
                    Search</button>
            </div>
        </div>
    </div>

    <!-- Searched movie result cards -->
    <div *ngIf="moviesArray.length > 0 && !movieDetailsFlag">
        <div class="row row-cols-1 row-cols-md-3">
            <div *ngFor="let movie of moviesArray" class="col mb-4">
                <div class="card h-100 shadow-sm card-class">
                    <img src="{{movie.Poster}}" height="300px" class="card-img-top" alt="{{movie.Title}} poster">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{movie.Title}}</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item badge badge-info badge-class">{{movie.Year}}</li>
                            <li class="list-inline-item badge badge-info badge-class">{{movie.Type}}</li>
                        </ul>
                        <p class="card-text text-muted"><span class="font-weight-normal">IMDB Id :
                            </span>{{movie.imdbID}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-primary float-right" (click)="callFunc(movie.imdbID)">Know
                            more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Error message -->
    <div *ngIf="errorMessage && !movieDetailsFlag" class="text-danger text-center">
        <h3>{{errorMessage}}</h3>
    </div>

    <!-- suggestions component is triggered when movieDetailsFlag is false and viewedMoviesInLocalStorage length is greater than 0 -->
    <app-suggestions *ngIf="viewedMoviesInLocalStorage.length > 0 && !movieDetailsFlag" [_MOVIES]="viewedMoviesInLocalStorage"></app-suggestions>

</div>